@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Pagina-Principal {
    width: 100%;
    background-color: white;
}

    .Pagina-Principal .Primer-Grupo {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }

        .Pagina-Principal .Primer-Grupo .box {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

            .Pagina-Principal .Primer-Grupo .box h2 {
                margin-bottom: 15px;
                font-size: 25px;
            }

            .Pagina-Principal .Primer-Grupo .box p {
                margin-bottom: 10px;
            }

        .Pagina-Principal .Primer-Grupo .Redes a {
            display: inline-block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: black;
            margin-right: 10px;
            background-color: none;
            text-align: center;
            transition: all 300ms ease;
        }

            .Pagina-Principal .Primer-Grupo .Redes a:hover {
                color: aquamarine;
            }

    .Pagina-Principal .Segundo-Grupo {
        padding: 15px 10px;
        text-align: center;
    }

        .Pagina-Principal .Segundo-Grupo small {
            font-size: 15px;
        }
